*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
}
.btns{
	margin:30px auto;
	width:70%;
	display:flex;
	padding:1.5rem;
	justify-content:space-between;
	align-items:center;
	background-color:white;
	border:1px solid lightgray;
	box-shadow:0px 1px 1px 3px whitesmoke;
}
.btn-primary{
	background-color:blue;
	color:white;
	cursor:grab;
	text-decoration:none;
	padding: 10px 13px;
	border:1px solid blue;
	border-radius:5px;
}
.btn-primary:hover{
	background-color:#0000ffc4;
}
.btn-secondary{
	background-color:gray;
	color:white;
	text-decoration:none;
	padding: 10px 13px;
	border:1px solid gray;
	border-radius:5px;
}
.btn-secondary:hover{
	background-color:#808080cc;
}
.btn-success{
	background-color:green;
	color:white;
	text-decoration:none;
	padding: 10px 13px;
	border:1px solid gray;
	border-radius:5px;
}
.btn-success:hover{
	background-color:#008000c4;
}
.btn-danger{
	background-color:#ff0000c2;
	color:white;
	text-decoration:none;
	padding: 10px 13px;
	border:1px solid red;
	border-radius:5px;
}
.btn-danger:hover{
	background-color:red;
}
.btn-warning{
	background-color:yellow;
	color:black;
	text-decoration:none;
	padding: 10px 13px;
	border:1px solid yellow;
	border-radius:5px;
}
.btn-warning:hover{
	background-color:orange;
}
.btn-info{
	background-color:#0bb1c6;
	color:white;
	text-decoration:none;
	padding: 10px 13px;
	border:1px solid #0bb1c6 ;
	border-radius:5px;
}
.btn-info:hover{
	background-color:blue;
}
.btn-light{
	background-color:transparent;
	color:black;
	text-decoration:none;
	padding: 10px 13px;
	border-radius:5px;
	border:none;
}
.btn-light:hover{
	background-color:lightgray;
}
.btn-dark{
	background-color:#000000;
	color:white;
	text-decoration:none;
	padding: 10px 13px;
	border:1px solid black;
	border-radius:5px;
}
.btn-dark:hover{
	background-color:gray;
}
.btn-link{
	color:blue;
	text-decoration:blue underline;
}
.btn-link:hover{
	color:green;
}